/Makefile.in
/config.h
/config.h.in
/config.h.in~
/config.log
/config.status
/configure
/libtool
/mod-config.h
/src/bindings/perl/WebAuth/Makefile.PL
/src/bindings/perl/WebAuth/Makefile.old
/src/bindings/perl/WebAuth/WebAuth.bs
/src/bindings/perl/WebAuth/WebAuth.c
/src/bindings/perl/WebAuth/blib/
/src/bindings/perl/WebAuth/pm_to_blib
/src/libwebauth/webauth.h
/src/utils/wa_keyring
/tests/libwebauth/attrs_test
/tests/libwebauth/base64_test
/tests/libwebauth/hex_test
/tests/libwebauth/key_test
/tests/libwebauth/krb5_test
/tests/libwebauth/krb5_tgt_test
/tests/libwebauth/random_test
/tests/libwebauth/token_test
/tests/runtests
/tests/webauth_keyring
/tests/webauth_keyring2
/webauth-*.tar.gz
.deps
.dirstamp
.libs/
Makefile
*.la
*.lo
*.o
*.slo
