/Makefile.in
/config.h
/config.h.in
/config.h.in~
/config.log
/config.status
/configure
/lib/webauth.h
/mod-config.h
/perl/Makefile.PL
/perl/Makefile.old
/perl/WebAuth.bs
/perl/WebAuth.c
/perl/blib/
/perl/pm_to_blib
/tests/libwebauth/attrs_test
/tests/libwebauth/base64_test
/tests/libwebauth/hex_test
/tests/libwebauth/key_test
/tests/libwebauth/krb5_test
/tests/libwebauth/krb5_tgt_test
/tests/libwebauth/random_test
/tests/libwebauth/token_test
/tests/runtests
/tests/webauth_keyring
/tests/webauth_keyring2
/tools/wa_keyring
/webauth-*.tar.gz
.deps
.dirstamp
.libs/
Makefile
*.la
*.lo
*.o
*.slo
