<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">
<!-- $Id$
This is the template for teh Stanford WebAuth v2 cancel page which is show
when the user clicks on the Cancel button on the login page.  This template
takes no variables and can be a standalone HTML page if necessary.
-->

<HTML>
  <HEAD>
    <HTTP-EQUIV="PRAGMA" CONTENT="NO-CACHE">
    <TITLE>Weblogin Canceled</TITLE>
  </HEAD>

  <BODY bgcolor="#FFFFFF">
    <HR>
    <TABLE border="0">
      <TR>
        <TD rowspan="5">
          <IMG src="/images/quad.gif" alt="[Stanford Quad]">
        </TD>
        <TH colspan="3" align="center">
          <H2>Weblogin Canceled</h2>
        </TH>
      </TR>
    </TABLE>
    
    <HR size="2">
    
    <H4 align="center">
      Help for this page
    </H4>
    <P>
      On the previous Web page, you were asked to identify yourself with
      your SUNet ID and password. You chose to Cancel.
    </P>
    <P>
      Unfortunately, the Weblogin server does not know where you came from,
      so we can't take you back there.
    </P>
    <P>
      Try the <B>Back</B> button or command to return. (Most Web browser
      programs, such as Netscape Navigator and Lynx, have one.)  If you go
      Back one page, you can try entering a SUNet ID and password again. You
      may need to go Back two or more pages to return to a page before
      Stanford's Weblogin service was called.
    </P>
  </BODY>

  <HEAD>
    <HTTP-EQUIV="PRAGMA" CONTENT="NO-CACHE">
  </HEAD>
</HTML>
