<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<!-- $Id:
This is the confirm page template for the Stanford WebAuth v3.
This template has the following variables template parmeters
  username               : the username of requestor
  return_url:            : the webauth protected page url
  pretty_url;            : a cleaner version of return_url 
-->
<HTML>
  <HEAD>
    <HTTP-EQUIV="PRAGMA" CONTENT="NO-CACHE">
    <TITLE>Stanford University - WebLogin Confirm</TITLE>
    <META HTTP-EQUIV="Content-Type" CONTENT=
    "text/html; charset=iso-8859-1">
  </HEAD>

  <BODY BGCOLOR="#FFFFCC">
    <TABLE WIDTH="75%" BORDER="1" ALIGN="center" BGCOLOR="#FFFFFF">
      <TR>
        <TD>
          <TABLE WIDTH="100%" ALIGN="center" BORDER="0">
            <TR>
              <TD WIDTH="170"><IMG SRC="/images/gateway1.open.gif" WIDTH="160"
              HEIGHT="160"></TD>

              <TD VALIGN="top">
                <DIV ALIGN="center">
                  <P><FONT SIZE="2" FACE=
                  "Arial, Helvetica, sans-serif"><BR>
		   <!-- The username -->
                   <STRONG><TMPL_VAR NAME=username></STRONG>,<BR>
                   you are logged into WebAuth,<BR>
                   Stanford&#39;s Web Authentication system.
		    <P><FONT SIZE="2" FACE="Arial, Helvetica,sans-serif">
		     Click below to continue to<BR>
                    the website you requested. </FONT></P>
		    <!-- The return_url -->

                    <P><A HREF="<TMPL_VAR NAME=return_url>"><FONT SIZE="2"
		    FACE="Arial, Helvetica,sans-serif">
		    <TMPL_VAR NAME=pretty_return_url></FONT></A></P>
                   <!-- END return_url -->

                  <P><FONT SIZE="2" FACE=
                  "Arial, Helvetica, sans-serif"><STRONG>Protect our
                  web assets:</STRONG><BR>
                   Quit your web browser or lock your computer when you
                  are finished here. (See below for more
                  information.)</FONT></P>
		<TMPL_IF login_cancel>
		    <P align="center">
		<H6 align="left"> Click <A HREF="<TMPL_VAR NAME=cancel_url>"> here </A> to cancel logging into this service. </H6>
		</P>      
	    </TMPL_IF>
                </DIV>
              </TD>
            </TR>
          </TABLE>
        </TD>
      </TR>
    </TABLE>

    <P>&#160;</P>

    <P><STRONG><FONT SIZE="2" FACE=
    "Arial, Helvetica, sans-serif">Important Security
    Information:</FONT></STRONG> <FONT SIZE="2" FACE=
    "Arial, Helvetica, sans-serif">With your login to WebAuth, gates to
    many different Stanford websites have been unlocked for you, not
    just the website you requested. In other words, many websites that
    would ask you to login will not do so now because you have already
    logged into WebAuth. If you forget to quit this web browser
    program, or lock the computer, or logoff from WebAuth (see below)
    when you are finished, anyone subsequently using your computer will
    be able to use the browser program to go to those websites, and the
    websites will treat that person as you, giving that person access
    to Stanford&#39;s and your web assets. You are responsible for
    preventing that from happening with this web session.</FONT></P>

    <P><FONT SIZE="2" FACE="Arial, Helvetica, sans-serif">To logoff
    from Stanford WebAuth but continue using your web browser... [then
    what?]</FONT></P>

    <P ALIGN="center"><FONT SIZE="1" FACE=
    "Arial, Helvetica, sans-serif">Copyright 2003 Stanford University.
    All Rights Reserved. Last modified 2/11/03 by ITSS/jnk.</FONT></P>

    <P>&#160;</P>
  </BODY>
</HTML>

