<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<!-- 
This is the confirm page template for the Stanford WebAuth v3.
This template has the following variables template parmeters
  username               : the username of requestor
  return_url:            : the webauth protected page url
  pretty_return_url;            : a cleaner version of return_url 
-->
<html>
  <head>
    <http-equiv="pragma" content="no-cache">
    <title>Webauth Confirm</title>
    <meta http-equiv="content-type" content="text/html; charset=iso-8859-1">
  </head>

  <body>
    <h1 align="center">Webauth Confirm</h1>
    <div class="loginbox" align="center">
      <table border="1" width="70%">
        <tr>
          <td><img alt="Confirm" src="/images/confirm.png"
                   width="160" height="160"/></td>
          <td>
            <div class="logintext">
              <p>You are logged into Webauth as user
              <strong><TMPL_VAR NAME=username></strong></p>
              <p>Click this link to continue to the website you
              requested:</p>
              <p><a href="<TMPL_VAR NAME=return_url>">
                 <TMPL_VAR NAME=pretty_return_url></a></p>
              <p><strong>Protect your assets:</strong><br/>
                 Quit your web browser when you are finished (see below
              for more details)</p>
              <TMPL_IF NAME=login_cancel>
                <p><strong>Click <a href="<TMPL_VAR NAME=cancel_url>">here
                   to cancel logging on to this service</p>
              </TMPL_IF>
            </div>
          </td>
        </tr>
      </table>
    </div>

    <div class="trailer">
      <h2>Important Security Information</h2>

      <p>Webauth provides a general web login service for many different
      websites.  Websites that use this Webauth server that would ask you
      to login will not do so now that you have logged into Webauth.</p>

      <p><strong>Quit the web browser you are using when you are finished
      with this browser session.</strong></p>

      <p>If you do not, anyone subsequently using your computer will be
      able to use the browser program to go to those websites, and the
      websites will treat that person as you, giving that person access to
      your protected web assets. You are responsible for preventing that
      from happening with this web session, and the best way to do it is
      to quit the browser program when you are finished with it, or lock
      your computer if you need to leave your computer but aren't through
      with the browser.</p>
    </div>
  </body>
</html>
