<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<!-- $Id:
This is the template for the StanfordWebAuth v3 error page. It is displayed
whenever the login.fcgi script on the weblogin server encounters an error.
errors codes:
err_no_request_token:no request token
err_webkdc          :errmsg sent from webkdc -- we can change to be more specific
-->
<HTML>
  <HEAD>
    <TITLE>Stanford University - WebLogin Error</TITLE>
    <HTTP-EQUIV="PRAGMA" CONTENT="NO-CACHE">
    <META HTTP-EQUIV="Content-Type" CONTENT=
    "text/html; charset=iso-8859-1">
  </HEAD>

  <BODY BGCOLOR="#FFFFCC">
    <FORM ACTION="" METHOD="get">
      <TABLE WIDTH="60%" BORDER="1" ALIGN="center" BGCOLOR="#FFFFFF">
        <TR>
          <TD>
            <TABLE WIDTH="100%" ALIGN="center" BORDER="0">
              <TR>
                <TD WIDTH="170"><IMG SRC="/images/gateway1.gif" WIDTH="160"
                HEIGHT="160"></TD>

                <TD VALIGN="top">
                  <TABLE WIDTH="100%" ALIGN="center" BORDER="0">
                    <TR>
                      <TD>
                        <TABLE WIDTH="100%">
                          <TR>
                            <TD BGCOLOR="#990000" NOWRAP>
                              <DIV ALIGN="right">
                                <FONT COLOR="#FFFFFF" SIZE="3" FACE=
                                "Verdana, Arial, Helvetica, sans-serif">
                                <STRONG>WebLogin</STRONG></FONT>
                              </DIV>
                            </TD>
                          </TR>
                        </TABLE>
                      </TD>
                    </TR>
                  </TABLE>

                  <P><STRONG><FONT SIZE="2" FACE=
                  "Arial, Helvetica, sans-serif">An error has occurred
                  WebLogin is not available.</FONT></STRONG></P>

		<!-- Error: no respson token -->
	        <TMPL_IF NAME=err_no_request_token>
		    <FONT SIZE="2" FACE="Arial, Helvetica, sans-serif">
			Error: The URL given is incomplete. 
		    </FONT></STRONG></P>
	        </TMPL_IF>

		<TMPL_IF NAME=err_webkdc>
		     <FONT SIZE="2" FACE="Arial, Helvetica, sans-serif">
			Error: <TMPL_VAR NAME=err_msg> 
		    </FONT></STRONG></P>
		</TMPL_IF>

                  <P><FONT SIZE="2" FACE=
                  "Arial, Helvetica, sans-serif">Please return to the
                  preceding web page and try again in a few minutes, or
                  report this problem to <A HREF=
                  "http://helpsu.stanford.edu">HelpSU</A>.</FONT></P>
                </TD>
              </TR>
            </TABLE>
          </TD>
        </TR>
      </TABLE>
    </FORM>

    <DIV ALIGN="center">
      <P><FONT SIZE="1" FACE="Arial, Helvetica, sans-serif">Copyright
      2003 Stanford University. All Rights Reserved. Last modified
      2/11/03 by ITSS/jnk.</FONT></P>
    </DIV>
  </BODY>
</HTML>

