<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<!--
This is the template for the StanfordWebAuth v3 error page. It is displayed
whenever the login.fcgi script on the weblogin server encounters an error.
errors codes:
err_no_request_token:no request token
err_webkdc          :errmsg sent from webkdc - we can change to be more specific
-->
<html>
  <head>
    <http-equiv="pragma" content="no-cache">
    <title>Webauth Error</title>
    <meta http-equiv="content-type" content="text/html; charset=iso-8859-1">
  </head>

  <body>
    <h1 align="center">Webauth Error</h1>
    <div class="loginbox" align="center">
      <table border="1" width="70%">
        <tr>
          <td><img alt="Error" src="/images/error.png"
                   width="160" height="160"/></td>
          <td>
            <div class="errortext">
              <p><strong>An error has occurred</strong></p>

              <!-- Error: no respson token -->
              <TMPL_IF NAME=err_no_request_token>
                <p>Error: The URL given is incomplete.</p>
              </TMPL_IF>

              <TMPL_IF NAME=err_webkdc>
                <p>Error: <TMPL_VAR NAME=err_msg></p>
              </TMPL_IF>

              <p>To try again, please return to the preceding web page
              (or you may need to start your request for this web
              service again).  Click <a href="/help.html">help</a> for
              assistance</p>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </body>
</html>
