<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Stanford University - WebLogin Help</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>

<body bgcolor="#FFFFCC">
<form action="" method="get">
<table width="50%" border="1" align="center" bgcolor="#FFFFFF">
<tr><td><table width="100%" align="center" border="0">
          <tr> 
            <td width="170"><img src="/images/gateway1.gif" width="160" height="160"></td>
            <td valign="top">
<table width="100%" align="center" border="0">
                <tr> 
                  <td><table width="100%">
                      <tr> 
                        <td bgcolor="#990000" nowrap> <div align="right"><font color="#FFFFFF" size="3" face="Verdana, Arial, Helvetica, sans-serif"><strong>WebLogin 
                            </strong></font></div></td>
                      </tr>
                    </table></td>
                </tr>
                <tr> 
                  <td> <div align="center">&nbsp;</div></td>
                </tr>
                <tr>
                  <td nowrap><font size="2" face="Verdana, Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><a href="#whatis">What 
                    is WebLogin?</a><br>
                    <a href="#whatdoido">What am I supposed to do?</a><br>
                    <a href="#cant">What if I don't have a SUNet ID?</a><br>
                   <a href="#help">Help! What did I do wrong?</a><br>
                    <a href="#password">Why doesn't my password work?</a><br>
					<a href="#new">Why does it look different than before?</a></font></font></td>
                </tr>
              </table></td>
  </tr></table></td></tr>
</table></form>
<div align="center"> 
  <h5><font size="2" face="Arial, Helvetica, sans-serif"><a name="whatis"></a>What 
    is WebLogin?</font></h5>
  <p align="left"><font size="2" face="Arial, Helvetica, sans-serif">The Web-based 
    service you are using requires you to identify yourself with your Stanford 
    University Network (SUNet) ID. You must provide your SUNet ID and password 
    to continue to the requested service or Web page. (If you don't have a SUNet 
    ID, see <a href="#cant">What if I don't have a SUNet ID</a> below.)</font></p>
  <p align="left"><font size="2" face="Arial, Helvetica, sans-serif">Under this 
    system, called Web Authentication, or WebAuth, your single weblogin gives 
    you access to many other Stanford websites besides the one you requested. 
    In essence, you receive two keys when you login: a key to the specific website 
    or service you requested, and a &quot;skeleton&quot; key that opens other 
    protected websites as well. Those sites will just let you in without you logging 
    in again. However, other sites that require weblogin may not recognize the 
    skeleton key, and may require you to do a new weblogin again.</font></p>
  <p align="left"><font size="2" face="Arial, Helvetica, sans-serif">The keys 
    last until you quit your browser program, or until they expire (they can last 
    up to 10 hours from the time of login). Be sure you have &quot;turned in your 
    keys&quot; by quitting your browser before you leave your computer unprotected; 
    otherwise, someone else using your computer after you can get access to the 
    web - both to the sites for which you got specific keys as well as to any 
    of the other Stanford websites that accept the skeleton key.</font></p>
  <h5><a name="whatdoido"></a><font size="2" face="Arial, Helvetica, sans-serif">What 
    am I supposed to do?</font> </h5>
  <p align="left"><font size="2" face="Arial, Helvetica, sans-serif">On the WebLogin 
    page you came from (use the Back button or command to return to it), enter 
    your SUNet ID and password and click on the Login button. Use the Tab key 
    or your mouse to put the cursor into the entry fields. </font></p>
  <p align="left"><font size="2" face="Arial, Helvetica, sans-serif">If you do 
    not have a SUNet ID and password, or if you don't want to logon to WebAuth, 
    you can click on the "I don't want to logon" link on the WebLogin page. That 
    link may take you to a "public" version or page of the website. If it does 
    not, then the service provides no public access.</font></p>
  <p align="left"><strong><font size="2" face="Arial, Helvetica, sans-serif">SUNet 
    ID:</font></strong><font size="2" face="Arial, Helvetica, sans-serif"> Enter 
    the Login form of your SUNet ID (Stanford University Network Identifier), 
    which is 3 to 8 characters long. If you have a Leland account, the name of 
    this account is the same as your SUNet ID; e.g., if you receive e-mail at 
    &quot;jdoe@stanford.edu&quot;, your SUNet ID is &quot;jdoe&quot;.</font></p>
  <p align="left"><font size="2" face="Arial, Helvetica, sans-serif"><strong>Password:</strong> 
    Enter the password associated with your SUNet ID. If you have a Leland account, 
    this password is the same as the password you use to access your Leland account. 
    If you have forgotten your SUNet ID or password, contact Stanford IT Help 
    Desk, phone (650) 725-HELP (725-4357), or submit a HelpSU ticket with <a href="http://helpsu.stanford.edu/helpsu.cgi?pcat=SUnetID">HelpSU 
    Online</a>. More information about SUNet IDs is available <a href="http://sunetid.stanford.edu">here.</a></font></p>
  <h5><a name="cant"></a><font size="2" face="Arial, Helvetica, sans-serif">What 
    if I don't have a SUNet ID?</font> </h5>
  <p align="left"><font size="2" face="Arial, Helvetica, sans-serif">Most Stanford 
    community members are eligible for a SUNet ID. To get one, or find out more, 
    click <a href="http://sunetid.stanford.edu">here</a>.</font></p>
  <p align="left"><font size="2" face="Arial, Helvetica, sans-serif">If you are 
    not a Stanford community member, you can click on the "I don't want to logon" 
    link on the WebLogin page. That link may take you to a "public" version or 
    page of the website. If it doesn't, then the web service you are requesting 
    may not be available to the public.</font> </p>
  <h5><font size="2" face="Arial, Helvetica, sans-serif"><a name="help"></a>Help! 
    What did I do wrong?</font></h5>
  <p align="left"><font size="2" face="Arial, Helvetica, sans-serif">Error messages 
    and descriptions:</font></p>
  <p align="left"><font size="2" face="Arial, Helvetica, sans-serif"><strong>Missing 
    or Incorrect SUNet ID and/or Password:</strong> To login to Stanford WebAuth, 
    you must provide both your SUNet ID and its password. It must be the Login 
    form of your SUNet ID, which is 3 to 8 characters long. If you have forgotten 
    your SUNet ID or password or need other assistance with them, contact Stanford 
    IT Help Desk, phone (650) 725-HELP (725-4357), or submit a HelpSU ticket at 
    <a href="http://helpsu.stanford.edu/helpsu.cgi?pcat=SUnetID">HelpSU Online</a>. 
    More information about SUNet IDs can also be found on <a href="http://sunetid.stanford.edu">the 
    SUNet ID home page</a>.</font></p>
  <p align="left"><font size="2" face="Arial, Helvetica, sans-serif"><strong>You 
    must enable cookies on your web browser:</strong> Stanford WebAuth requires 
    that your web browser accept "cookies", small files that web servers send 
    to your computer. Cookies have many purposes, some of them of questionable 
    value to you. However, WebAuth uses them for security and verification. Having 
    a cookie for a Stanford WebAuthed website identifies you to the website and 
    allows you to continue from one page of the site to another without having 
    to login each time. You can usually enable cookies in the Settings or Preferences 
    panels of your browser program.</font></p>
  <p align="left"><font size="2" face="Arial, Helvetica, sans-serif"><strong>You 
    took too long to login</strong>: You must enter your SUNet ID and password 
    within 2 minutes of the WebLogin screen appearing. If you don't, you will 
    get this error message. You must re-initiate the request for the web page 
    or service you want - that may mean re-entering the URL or returning to the 
    page with the link to this service. Backing up to the WebLogin page and trying 
    again will not work. </font></p>
  <h5><font size="2" face="Arial, Helvetica, sans-serif"><a name="password" id="password"></a></font><font size="2" face="Verdana, Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif">Why 
    doesn't my password work?</font></font></h5>
  <p align="left"><font size="2" face="Arial, Helvetica, sans-serif">Does your 
    password work for email purposes, but not get recognized by Weblogin? That's 
    an indication that your password has not been reset in the past couple years. 
    Most likely, resetting your password will clear up that problem.</font></p>
  <p align="left"><font size="2" face="Arial, Helvetica, sans-serif">There are 
    three options for resetting your password:</font></p>
</div>
<ul>
  <li> 
    <div align="left"><font size="2" face="Arial, Helvetica, sans-serif">Use MacLeland 
      or PC-Leland's &quot;Change password....&quot; features to reset it yourself</font></div>
  </li>
  <li> 
    <div align="left"><font size="2" face="Arial, Helvetica, sans-serif">Login 
      to one of the Leland systems (elaine, cardinal, etc.) using Samson and use 
      the &quot;passwd&quot; command to reset it yourself, or</font></div>
  </li>
  <li>
    <div align="left"><font size="2" face="Arial, Helvetica, sans-serif">Call 
      the Stanford IT Help Desk at 650-725-4357 (725-HELP) and ask them to assist 
      you.</font></div>
  </li></ul>
  

    <div align="center"> 
      <h5><font size="2" face="Arial, Helvetica, sans-serif"></font><font face="Arial, Helvetica, sans-serif"><a name="new"></a>Why 
        does WebLogin look different than before?</font></h5>
    
</div>
<div align="center">
  <p align="left"><font size="2" face="Arial, Helvetica, sans-serif">These WebLogin 
    pages are part of WebLogin version 3. WebLogin version 3 works very differently 
    from the earlier version 2 (in Weblogin 2, the title says SUNet ID Login, 
    and the picture is an aerial view of the front of the Stanford Quad, with 
    the words &quot;Stanford University&quot; overlaid on the sky). Both versions 
    will co-exist at Stanford for a year or so as websites switch from the old 
    to the new. Because of the differences, weblogins in one version are not recognized 
    in the other, so you may have to login more times than you would expect during 
    the transition.</font></p>
  <p align="left"><font size="2" face="Arial, Helvetica, sans-serif">More information 
    about the two systems is available <a href="http://www.stanford.edu/services/webauth/">here</a>.</font></p>
</div>
  <table width="65%" border="0" align="center">
    <tr><td><DIV ALIGN="center">
      <font size="1" face="Arial, Helvetica, sans-serif">Copyright
      2003 Stanford University. All Rights Reserved.<br>
        Last modified 8/12/03 by ITSS/jnk.</font></DIV></td></tr></table>
</body>
</html>

