<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<!-- $ID
This is the template for the Stanford WebAuth v3 login page. This page
is called from login.fcgi script on the weblogin server. It displays a
form asking the user for SUNetID and password. Variables used:
username               : the username (SUNetID)
password               : password
err_username           : no username error
err_password           : no password error
err_cookie             : err_cookie
RT                     : Response Token
ST                     : Service Token
LC                     : Login Cancel Token
CancelURl              : CancelURL
-->
<HTML>
  <HEAD>
    <HTTP-EQUIV="PRAGMA" CONTENT="NO-CACHE">
    <TITLE>SUNet ID/Password Identificatio</TITLE>
    <META http-equiv="Content-Type" content=
    "text/html; charset=iso-8859-1">
  </HEAD>
  <BODY bgcolor="#FFFFCC">
    <FORM method="post" autocomplete="OFF"enctype="application/x-www-form-urlencoded" >

      <TABLE width="50%" border="1" align="center" bgcolor=
      "#FFFFFF">
        <TR>
          <TD>
            <TABLE width="100%" align="center" border="0">
              <TR>
                <TD><IMG src="/images/quad1.gif" width="160" height= "160" alt="[Stanford Quad]"></TD>
                <TD>
                  <TABLE width="100%" align="center" border="0">
                    <TR>
                      <TD>
                        <TABLE width="100%">
                          <TR>
                            <TD bgcolor="#990000" nowrap>
                              <DIV align="right">
                                <FONT color="#FFFFFF" size="3"face="Verdana, Arial, Helvetica, sans-serif">
                                <STRONG>WebLogin</STRONG></FONT>
                              </DIV>
                            </TD>
                          </TR>
                        </TABLE>
                      </TD>
                    </TR>

                    <TR>
                      <TD>
                        <DIV align="center">
                          &nbsp;
                        </DIV>
                      </TD>
                    </TR>

                    <TR>
                      <TD>
                        <TABLE width="100%" border="0">
                          <TR>
                            <TD width="30%" bgcolor="#FFFFFF">
                              <DIV align="right">
                                <FONT size="2" face=
                                "Verdana, Arial, Helvetica, sans-serif">
                                <STRONG>SUNet ID:</STRONG></FONT>
                              </DIV>
                            </TD>

                            <TD width="50%" nowrap><FONT color=
                            "#990000" size="3" face=
                            "Verdana, Arial, Helvetica, sans-serif">
                            <STRONG><INPUT  type="text" name="username" value="<TMPL_VAR NAME=username>" size="10" maxlength="8"></STRONG></FONT></TD>
                          </TR>
                          <TR>
                            <TD width="30%" bgcolor="#FFFFFF">
                              <DIV align="right">
                                <FONT size="2" face=
                                "Verdana, Arial, Helvetica, sans-serif">
                                <STRONG>Password:</STRONG></FONT>
                              </DIV>
                            </TD>

                            <TD width="50%" nowrap><INPUT type="password" name="password" size="18" maxlength="16"></TD>
                          </TR>

                          <TR>
                            <TD width="30%" bgcolor="#FFFFFF">
                            &nbsp;</TD>

                            <TD width="50%" nowrap>
                              <DIV align="right">
                                <INPUT type="submit" name="Submit"
                                value="Login">
                              </DIV>
                            </TD>
                          </TR>

                          <TR>
                            <TD height="5" valign="bottom" bgcolor=
                            "#FFFFFF">&nbsp;</TD>

                            <TD height="5" valign="bottom" nowrap>
                            &nbsp;</TD>
                          </TR>
                          <TR>
                            <TD width="30%" valign="bottom" nowrap
                            bgcolor="#FFFFFF"><A href="http://webauthv3.stanford.edu/webauth.html">
                            <FONT size="1" face= "Verdana, Arial, Helvetica, sans-serif">
                            <STRONG>What is this?</STRONG></FONT></A></TD>

                            <TD width="50%" valign="bottom" nowrap>
                              <DIV align="right">
				<!--The WebAuth server cancel url -->
				    <A href= <TMPL_VAR NAME=cancel_url>
					    <FONT size="1" face="Verdana, Arial, Helvetica, sans-serif">
					    <STRONG>I don't want to login</STRONG></FONT></A>
		              </DIV>
                            </TD>
                          </TR>
                        </TABLE>
                      </TD>
                    </TR>
                  </TABLE>
                </TD>
              </TR>
            </TABLE>
          </TD>
        </TR>
      </TABLE>

      <TMPL_IF NAME=err_username>
        <!-- Error: no username submitted. -->
        <H3><B>Error: Enter your SUNetid</B></H3>
      </TMPL_IF>      
      <TMPL_IF NAME=err_password>
        <!-- Error: no password submitted. -->
        <H3><B>Error: Enter your password</B></H3>
      </TMPL_IF>      
      <TMPL_IF NAME=err_cookies>
        <!-- Error: cookies not enabled. -->
        <H3><B>Error: You must enable cookies </B></H3>
      </TMPL_IF>      

      
      <INPUT type="hidden" name="RT" value="<TMPL_VAR NAME=RT>">
      <INPUT type="hidden" name="ST" value="<TMPL_VAR NAME=ST>" >
      <INPUT type="hidden" name="LC" value="<TMPL_VAR NAME=LC>">   
    </FORM>
  </BODY>
 <HEAD>
    <HTTP-EQUIV="PRAGMA" CONTENT="NO-CACHE">
  </HEAD>

    
</HTML>

