<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">
<HTML>
  <HEAD>
    <HTTP-EQUIV="PRAGMA" CONTENT="NO-CACHE">
    <TITLE>Weblogin Canceled</TITLE>
  </HEAD>

  <BODY bgcolor="#FFFFFF">
    <HR>
    <TABLE border="0">
      <TR>
        <TD rowspan="5">
          <IMG src="/images/quad.gif" alt="[Stanford Quad]">
        </TD>
        <TH colspan="3" align="center">
	<!--The logout found cookies -->
	 <TMPL_IF NAME=cookies_flag>
	<H2>   weblogin cookies are deleted</h2>
	<TMPL_ELSE>
          <H2>  No  weblogin cookies found</h2>
	</TMPL_IF>


        </TH>
      </TR>
    </TABLE>
    
    <HR size="2">
    
    <H4 align="center">
    </H4>
    <P>

    </P>

    <P>

    </P>
  </BODY>

  <HEAD>
    <HTTP-EQUIV="PRAGMA" CONTENT="NO-CACHE">
  </HEAD>
</HTML>
