<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "DTD/xhtml1-transitional.dtd">

<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link type="text/css" rel="stylesheet" href="weblogin.css" />
<title>Stanford Weblogin - Confirm Authentication</title>
</head>

<body>

<h1 id="header">
Confirm Authentication &rarr;
</h1>

<div id="info-box">
<p>You are now authenticated though Stanford Weblogin.</p>
<p>Click the link below to access $service-name in the name of user: $logged-in-SUNetID.</p>
<p class="center"><a href="" title="Click to access (Friendly name of service, such as: Stanford Webmail).">http://some-service-url.stanford.edu/</a></p>
</div>

<div id="footer">
<p>Problems with Weblogin should be reported to <a class="help" href="http://helpsu.stanford.edu/" title="Click to submit a HelpSU ticket.">Help</a><a class="su" href="http://helpsu.stanford.edu/" title="Click to submit a HelpSU ticket.">SU</a> or call <span class="help">72</span><span class="su">5-HELP</span>.</p>
<p>&copy; 2002, Stanford University. All rights reserved.</p>
</div>

</body>
</html>
