<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">
<!-- $Id$
This is the template for the Stanford WebAuth v2 post authentication page
which uses the post method to force the browser to accept an authentication
token.  This page is called from the su-auth CGI script located on the
weblogin server.  This template takes the following variables:

  username               : the username of requestor
  return_url:            : the webauth protected page url
  proxy_url              : the proxy script location
  post:                  : post if we are proxying
  get:                   : get if we are using regular url
  token:                 : value of the authentication token for a post

-->

<HTML>   
  <HEAD>
    <HTTP-EQUIV="PRAGMA" CONTENT="NO-CACHE">
    <TITLE>Postauth Page</TITLE>
  </HEAD>

  <BODY bgcolor="#FFFFFF">
    <HR>
      
    <TABLE border="0">
      <TR>
        <TD rowspan="5">
          <IMG SRC="/images/quad.gif" ALT="[Stanford Quad]">
        </TD>
        <TD colspan="3" align="center">
          <H2>
            Your SUNet ID has been verified: <TMPL_VAR NAME=username>
          </H2>
          </TD>
      </TR>
    </TABLE>
    <TMPL_IF post>
      <FORM method="POST" action="<TMPL_VAR NAME=proxy_url>">
        <P align="center">
          Click the submit button to continue to the following link:
          <TMPL_VAR NAME=return_url><BR>
          <INPUT type="submit" name="sunetid_authenticate" value="Continue">
          <INPUT type="hidden" name="token" value="<TMPL_VAR NAME=token>">
          <INPUT type="hidden" name="return_url"
                 value="<TMPL_VAR NAME=return_url>">
	  <INPUT type="hidden" name="remote_browser"
		 value="<TMPL_VAR NAME=remote_browser>">
        </P>
      </FORM>
    </TMPL_IF>
    <TMPL_IF get>
      <P align="center">
        <A HREF="<TMPL_VAR NAME=return_url>">
          <H3>Continue to the service you requested at :</H3>
          <H3><TMPL_VAR NAME=pretty_return_url></H3>
        </A>
      </P>	
    </TMPL_IF>


    <TMPL_IF login_cancel>
	<P align="center">
        <H6 align="left"> Click <A HREF="<TMPL_VAR NAME=cancel_url>"> here </A> to cancel logging into this service. </H6>
       </P>      
    </TMPL_IF>
    
    <HR size="2">
    <H4 align="center">Help for this page</H4>
    <P>
      On the previous Web page, you were asked to identify yourself with
      your SUNet ID and password.  Stanford's Weblogin server has verified
      the ID and password you entered.
    </P>
    <P>
      When you click on the link above or the Continue button, your SUNet ID
      (but not the password) will be returned to the computer holding the
      Web page or service you originally requested.  That computer will
      determine what page to show you next.
    </P>
  </BODY>

  <HEAD>
    <HTTP-EQUIV="PRAGMA" CONTENT="NO-CACHE">
  </HEAD>
</HTML>
