username [% username %]
return_url [% return_url %]
pretty_return_url [% pretty_return_url %]
login_cancel [% login_cancel %]
cancel_url [% cancel_url %]
show_remuser [% show_remuser %]
remuser [% remuser %]
script_name [% script_name %]
warn_expire [% warn_expire %]
expire_timestamp [% expire_timestamp %]
pwchange_url [% pwchange_url %]
CPT [% CPT %]
remember_login [% remember_login %]
device_expiring [% device_expiring %]
skip_username [% skip_username %]
