username [% username %]
return_url [% return_url %]
pretty_return_url [% pretty_return_url %]
login_cancel [% login_cancel %]
cancel_url [% cancel_url %]
show_remuser [% show_remuser %]
remuser [% remuser %]
script_name [% script_name %]
warn_expire [% warn_expire %]
expire_date [% expire_date %]
expire_time_left [% expire_time_left %]
pwchange_url [% pwchange_url %]
CPT [% CPT %]
public_computer [% public_computer %]
skip_username [% skip_username %]
