username <TMPL_VAR NAME=username>
return_url <TMPL_VAR NAME=return_url>
pretty_return_url <TMPL_VAR NAME=pretty_return_url>
login_cancel <TMPL_VAR NAME=login_cancel>
cancel_url <TMPL_VAR NAME=cancel_url>
show_remuser <TMPL_VAR NAME=show_remuser>
remuser <TMPL_VAR NAME=remuser>
script_name <TMPL_VAR script_name>
warn_expire <TMPL_VAR NAME=warn_expire>
expire_date <TMPL_VAR NAME=expire_date>
expire_time_left <TMPL_VAR NAME=expire_time_left>
pwchange_url <TMPL_VAR NAME=pwchange_url>
CPT <TMPL_VAR NAME=CPT>
