err_bad_method [% err_bad_method %]
err_cookies_disabled [% err_cookies_disabled %]
err_no_request_token [% err_no_request_token %]
err_webkdc [% err_webkdc %]
err_msg [% err_msg %]
err_confirm [% err_confirm %]
script_name [% script_name %]
err_html [% err_html %]
