err_bad_method <TMPL_VAR NAME=err_bad_method>
err_cookies_disabled <TMPL_VAR NAME=err_cookies_disabled>
err_no_request_token <TMPL_VAR NAME=err_no_request_token>
err_webkdc <TMPL_VAR NAME=err_webkdc>
err_msg <TMPL_VAR NAME=err_msg>
err_confirm <TMPL_VAR NAME=err_confirm>
script_name <TMPL_VAR script_name>
