error <TMPL_VAR NAME=error>
err_missinginput <TMPL_VAR NAME=err_missinginput>
err_username <TMPL_VAR NAME=err_username>
err_password <TMPL_VAR NAME=err_password>
err_loginfailed <TMPL_VAR NAME=err_loginfailed>
err_forced <TMPL_VAR NAME=err_forced>
err_rejected <TMPL_VAR NAME=err_rejected>
RT <TMPL_VAR NAME=RT>
ST <TMPL_VAR NAME=ST>
LC <TMPL_VAR NAME=LC>
username <TMPL_VAR NAME=username>
login_cancel <TMPL_VAR NAME=login_cancel>
cancel_url <TMPL_VAR NAME=cancel_url>
show_remuser <TMPL_VAR NAME=show_remuser>
remuser_url <TMPL_VAR NAME=remuser_url>
remuser_failed <TMPL_VAR NAME=remuser_failed>
script_name <TMPL_VAR script_name>
