error [% error %]
err_missinginput [% err_missinginput %]
err_username [% err_username %]
err_password [% err_password %]
err_loginfailed [% err_loginfailed %]
err_forced [% err_forced %]
err_rejected [% err_rejected %]
RT [% RT %]
ST [% ST %]
LC [% LC %]
username [% username %]
login_cancel [% login_cancel %]
cancel_url [% cancel_url %]
show_remuser [% show_remuser %]
remuser_url [% remuser_url %]
remuser_failed [% remuser_failed %]
script_name [% script_name %]
