error [% error %]
err_username [% err_username %]
err_password [% err_password %]
err_newpassword [% err_newpassword %]
err_newpassword_match [% err_newpassword_match %]
err_loginfailed [% err_loginfailed %]
err_rejected [% err_rejected %]
err_pwweak [% err_pwweak %]
err_pwchange [% err_pwchange %]
err_msg [% err_msg %]
RT [% RT %]
ST [% ST %]
CPT [% CPT %]
remember_login [% remember_login %]
username [% username %]
password [% password %]
new_passwd1 [% new_passwd1 %]
new_passwd2 [% new_passwd2 %]
changepw [% changepw %]
expired [% expired %]
skip_username [% skip_username %]
skip_password [% skip_password %]
script_name [% script_name %]
