error <TMPL_VAR NAME=error>
err_username <TMPL_VAR NAME=err_username>
err_password <TMPL_VAR NAME=err_password>
err_newpassword <TMPL_VAR NAME=err_newpassword>
err_newpassword_match <TMPL_VAR NAME=err_newpassword_match>
err_loginfailed <TMPL_VAR NAME=err_loginfailed>
err_rejected <TMPL_VAR NAME=err_rejected>
err_pwweak <TMPL_VAR NAME=err_pwweak>
err_pwchange <TMPL_VAR NAME=err_pwchange>
err_msg <TMPL_VAR NAME=err_msg>
RT <TMPL_VAR NAME=RT>
ST <TMPL_VAR NAME=ST>
CPT <TMPL_VAR NAME=CPT>
username <TMPL_VAR NAME=username>
password <TMPL_VAR NAME=password>
new_passwd1 <TMPL_VAR NAME=new_passwd1>
new_passwd2 <TMPL_VAR NAME=new_passwd2>
changepw <TMPL_VAR NAME=changepw>
expired <TMPL_VAR NAME=expired>
skip_username <TMPL_VAR NAME=skip_username>
skip_password <TMPL_VAR NAME=skip_password>
script_name <TMPL_VAR script_name>
