<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <http-equiv="pragma" content="no-cache">
    <title>WebAuth Help</title>
  </head>

  <body>
    <h1 align="center">WebAuth Help</h1>
    <div class="loginbox" align="center">
      <table border="1" width="70%">
        <tr>
          <td><img alt="Confirm" src="/images/help.png"
                   width="160" height="160"/></td>
          <td>
            <div class="helptext">
              <a href="#whatis">What is WebAuth?</a><br>
              <a href="#whatdoido">What am I supposed to do?</a><br>
              <a href="#cant">What if I don't have a username?</a><br>
              <a href="#help">Help! What did I do wrong?</a><br>
            </div>
          </td>
        </tr>
      </table>
    </div>

    <div class="trailer">
      <h2><a name="whatis"></a>What is WebAuth?</h2>

      <p>The Web-based service you are using requires you to identify
      yourself with your username and password.  You must provide your
      username and password to continue to the requested service or Web
      page.  If you don't have a username, see <a href="#cant">What if I
      don't have a username</a> below.</p>

      <p>Under this system, called WebAuth, your single web login gives
      you access to many other websites besides the one you requested.  In
      essence, you receive two keys when you login: a key to the specific
      website or service you requested, and a &quot;skeleton&quot; key
      that opens other protected websites as well.  Those sites will just
      let you in without you logging in again.  However, other sites that
      require web login may not recognize the skeleton key, and may
      require you to do a new web login again.</p>

      <p>The keys last until you quit your browser program, or they expire
      (they can last up to 10 hours from the time of login).  Be sure you
      have &quot;turned in your keys&quot; by quitting your browser before
      you leave your computer unprotected; otherwise, someone else using
      your computer after you can get access to the web - both to the
      sites for which you got specific keys as well as to any of the other
      websites that accept the skeleton key.</p>

      <h2><a name="whatdoido"></a>What am I supposed to do?</h2>

      <p>On the WebAuth Login page you came from (use the Back button or
      command to return to it), enter your username and password and click
      on the Login button. Use the Tab key or your mouse to put the cursor
      into the entry fields.</p>
   
      <p>If you do not have a username and password, or if you don't want
      to logon to WebAuth, you can click on the "I don't want to logon"
      link on the WebAuth Login page.  That link may take you to a
      "public" version or page of the website.  If it does not, then the
      service provides no public access.</p>

      <p><strong>Username:</strong> Enter your username, which is usually
      3 to 8 characters long.</p>

      <p><strong>Password:</strong> Enter the password associated with
      your username.</p>

      <h2><a name="cant"></a>What if I don't have a username?</h2>

      <p>If you do not have a username then you need to register.  Since
      these are generic help instructions the site administrator should
      INSERT A HELPFUL LINK here.</p>

      <p>If you are not eligible to register for a username, you can click
      on the "I don't want to logon" link on the WebAuth Login page.  That
      link may take you to a "public" version or page of the website.  If
      it doesn't, then the web service you are requesting may not be
      available to the public.</p>

      <h2><a name="help"></a>Help! What did I do wrong?</h2>

      <p>Error messages and descriptions:</p>

      <p><strong>Missing or Incorrect username and/or Password:</strong>
      To login to WebAuth, you must provide both your username and its
      password.  If you have forgotten your username or password or need
      other assistance with them, contact INSERT HELP CENTER CONTACT
      DETAILS HERE.</p>
   
      <p><strong>You must enable cookies on your web browser:</strong>
      WebAuth requires that your web browser accept "cookies", small files
      that web servers send to your computer.  Cookies have many purposes,
      some of them of questionable value to you.  However, WebAuth uses
      them for security and verification.  Having a cookie for a WebAuth
      website identifies you to the website and allows you to continue
      from one page of the site to another without having to login each
      time.  You can usually enable cookies in the Settings or Preferences
      panels of your browser program.</p>

      <p><strong>You took too long to login:</strong> You must enter your
      username and password within 2 minutes of the WebAuth Login screen
      appearing.  If you don't, you will get this error message.  You must
      re-initiate the request for the web page or service you want - that
      may mean re-entering the URL or returning to the page with the link
      to this service.  Backing up to the WebAuth Login page and trying
      again will not work.</p>

    </div>
  </body>
</html>
