#!/usr/bin/make -f
# -*- makefile -*-
# GNU copyright 1997 to 1999 by Joey Hess.
# Further updates by Russ Allbery <rra@stanford.edu>

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1


# These are used for cross-compiling and for saving the configure script
# from having to guess our platform (since we know it already)
DEB_HOST_GNU_TYPE   ?= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
DEB_BUILD_GNU_TYPE  ?= $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)


CFLAGS = -Wall -g

ifndef PERL
PERL = /usr/bin/perl
endif

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
        CFLAGS += -O0
else
        CFLAGS += -O2
endif
ifeq (,$(findstring nostrip,$(DEB_BUILD_OPTIONS)))
        INSTALL_PROGRAM += -s
endif

config.status: configure
	dh_testdir
	CFLAGS="$(CFLAGS)" ./configure --host=$(DEB_HOST_GNU_TYPE) \
	    --build=$(DEB_BUILD_GNU_TYPE) --prefix=/usr \
	    --mandir=\$${prefix}/share/man --infodir=\$${prefix}/share/info \
	    --enable-mod_webkdc --enable-perl --with-apxs=/usr/bin/apxs2

build: build-stamp

build-stamp: config.status
	dh_testdir
	$(MAKE)
	cd src/bindings/perl/WebAuth3 && $(PERL) Makefile.PL INSTALLDIRS=vendor
	cd src/bindings/perl/WebAuth3 && $(MAKE) OPTIMIZE="-O2 -g -Wall"
	cd src/webkdc && $(PERL) Makefile.PL INSTALLDIRS=vendor
	cd src/webkdc && $(MAKE) OPTIMIZE="-O2 -g -Wall"
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp
	-$(MAKE) distclean
ifneq "$(wildcard /usr/share/misc/config.sub)" ""
	cp -f /usr/share/misc/config.sub tools/config.sub
endif
ifneq "$(wildcard /usr/share/misc/config.guess)" ""
	cp -f /usr/share/misc/config.guess tools/config.guess
endif
	dh_clean

# Unfortunately, we have to run make install in the various directories
# separately because apxs with the current Makefiles doesn't correctly handle
# DESTDIR.
install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	mkdir -p $(CURDIR)/debian/tmp/usr/lib/apache2/modules
	cd src/libwebauth && $(MAKE) DESTDIR=$(CURDIR)/debian/tmp install
	cd src/utils && $(MAKE) DESTDIR=$(CURDIR)/debian/tmp install
	cp src/modules/webauth/.libs/mod_webauth.so \
	    $(CURDIR)/debian/tmp/usr/lib/apache2/modules/
	cp src/modules/webauthldap/.libs/mod_webauthldap.so \
	    $(CURDIR)/debian/tmp/usr/lib/apache2/modules/
	cp src/modules/webkdc/.libs/mod_webkdc.so \
	    $(CURDIR)/debian/tmp/usr/lib/apache2/modules/
	mkdir -p $(CURDIR)/debian/tmp/etc/webauth
	mkdir -p $(CURDIR)/debian/tmp/etc/webkdc
	cp src/modules/webkdc/token.acl $(CURDIR)/debian/tmp/etc/webkdc/
	cp debian/webkdc.conf $(CURDIR)/debian/tmp/etc/webkdc/
	mkdir -p $(CURDIR)/debian/tmp/etc/apache2/mods-available
	cd conf/debian && for f in *.conf *.load ; do \
	    install -m 644 $$f \
	        $(CURDIR)/debian/tmp/etc/apache2/mods-available/$$f \
	            || exit 1 ; \
	done
	cd src/bindings/perl/WebAuth3 \
	    && $(MAKE) install PREFIX=$(CURDIR)/debian/tmp/usr
	cd src/webkdc && $(MAKE) install PREFIX=$(CURDIR)/debian/tmp/usr
	mkdir -p $(CURDIR)/debian/tmp/usr/share/weblogin
	cd src/webkdc && for f in login.fcgi logout.fcgi ; do \
	    install -m 755 $$f \
	        $(CURDIR)/debian/tmp/usr/share/weblogin/$$f || exit 1 ; \
	done
	cd src/webkdc && for f in templates/*.tmpl ; do \
	    install -m 644 $$f \
	        $(CURDIR)/debian/tmp/usr/share/weblogin/generic/$$f \
	            || exit 1 ; \
	done
	install -m 644 src/webkdc/templates/help.html \
	    $(CURDIR)/debian/tmp/usr/share/weblogin/generic/help.html
	cd src/webkdc && for f in images/*.png ; do \
	    install -m 644 $$f \
	        $(CURDIR)/debian/tmp/usr/share/weblogin/generic/$$f \
	            || exit 1 ; \
	done
	mkdir -p $(CURDIR)/debian/tmp/usr/share/webauth/conf
	cp tests/mod_webauth/conf/*.conf \
	    $(CURDIR)/debian/tmp/usr/share/webauth/conf/
	mkdir -p $(CURDIR)/debian/tmp/usr/share/webauth/htdocs
	cp -r tests/mod_webauth/htdocs/tests \
	    $(CURDIR)/debian/tmp/usr/share/webauth/htdocs/
	cp -r tests/mod_webauth/htdocs/ldaptests \
	    $(CURDIR)/debian/tmp/usr/share/webauth/htdocs/

# Build the architecture-independent packages.
binary-indep: build install
	dh_testdir -i
	dh_testroot -i
	dh_installchangelogs -i
	dh_installdocs -i
	dh_installexamples -i
	dh_install -i --sourcedir=debian/tmp
	dh_link -i
	dh_compress -i
	dh_fixperms -i
	dh_perl -i
	dh_installdeb -i
	dh_gencontrol -i
	dh_md5sums -i
	dh_builddeb -i

# Build the architecture-dependent packages.
binary-arch: build install
	dh_testdir -a
	dh_testroot -a
	dh_installchangelogs -a
	dh_installdocs -a
	dh_installexamples -a
	dh_install -a --sourcedir=debian/tmp
	dh_installman -a
	dh_link -a
	dh_strip -a
	dh_compress -a
	dh_fixperms -a
	dh_perl -a
	dh_makeshlibs -a
	dh_installdeb -a
	dh_shlibdeps -a -L libwebauth1 -l debian/libwebauth1/usr/lib
	dh_gencontrol -a
	dh_md5sums -a
	dh_builddeb -a

binary: binary-arch binary-indep
.PHONY: build clean binary-indep binary-arch binary install
